apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app.kubernetes.io/name: terraform-operator-remote-controller
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Values.image.tag }}
    app.kubernetes.io/component: controller
    app.kubernetes.io/part-of: terraform-operator
    app.kubernetes.io/managed-by: helm
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  selector:
    matchLabels:
      app: {{ .Release.Name }}
      component: controller
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
        component: controller
    spec:
      serviceAccountName: {{ .Release.Name }}
      containers:
      - name: {{ .Release.Name }}
        image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
        imagePullPolicy: Always
        args:
        {{- range .Values.args }}
        - {{ . }}
        {{- end }}
        env:
        {{- if .Values.env }}
        {{-  tpl (.Values.env | toYaml | nindent 8) . }}
        {{- end }}
        {{- if .Values.data.vcluster.enabled }}
        - name: TFO_API_VCLUSTER_MANIFEST
          value: /data/config/vcluster.tpl.yaml
        {{- end }}
        {{- if .Values.tolerations }}
        - name: POST_JOB_TOLERATIONS
          value: /data/config/tolerations
        {{- end }}
        {{- with .Values.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        volumeMounts:
        {{- if or .Values.data.vcluster.enabled .Values.tolerations }}
        - name: config-volume
          mountPath: /data/config
        {{- end }}
      volumes:
      {{- if or .Values.data.vcluster.enabled .Values.tolerations }}
      - name: config-volume
        configMap:
          name: {{ .Release.Name }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
